html:after {
    content: '';
    background-image: url(../img/setting.svg), url(../img/setting.svg),
        url(../img/reset/back.svg), url(../img/reset/back-push.svg), url(../img/reset/normal.svg), url(../img/reset/win.svg), url(../img/reset/lose.svg),
        url(../img/seven-seg/0.svg), url(../img/seven-seg/1.svg), url(../img/seven-seg/2.svg), url(../img/seven-seg/3.svg), url(../img/seven-seg/4.svg), url(../img/seven-seg/5.svg), url(../img/seven-seg/6.svg), url(../img/seven-seg/7.svg), url(../img/seven-seg/8.svg), url(../img/seven-seg/9.svg),
        url(../img/cell/close.svg), url(../img/cell/push.svg), url(../img/cell/open.svg), url(../img/cell/flag.svg), url(../img/cell/mine.svg), url(../img/cell/openedmine.svg),
        url(../img/cell/1.svg), url(../img/cell/2.svg), url(../img/cell/3.svg), url(../img/cell/4.svg), url(../img/cell/5.svg), url(../img/cell/6.svg), url(../img/cell/7.svg), url(../img/cell/8.svg);
}