:root {
    font-family: monospace, selif;
    font-size: 16px;
    --main-color: black;
    --cell-color: #d0d0d0;
    --cell-highlight: white;
    --cell-shadow: gray;
    --cell-size: 16px;
    --border-width: calc(var(--cell-size) * 1.5 / 16);
}

/* ================================================== */

.seven-seg-container {
    background-color: black;
}

.seven-seg {
    height: calc(var(--cell-size) * 4 / 3);
    width: var(--cell-size);
    background-size: cover;
}

.seven-seg[number="0"] {
    background-image: url(../img/seven-seg/0.svg);
}

.seven-seg[number="1"] {
    background-image: url(../img/seven-seg/1.svg);
}

.seven-seg[number="2"] {
    background-image: url(../img/seven-seg/2.svg);
}

.seven-seg[number="3"] {
    background-image: url(../img/seven-seg/3.svg);
}

.seven-seg[number="4"] {
    background-image: url(../img/seven-seg/4.svg);
}

.seven-seg[number="5"] {
    background-image: url(../img/seven-seg/5.svg);
}

.seven-seg[number="6"] {
    background-image: url(../img/seven-seg/6.svg);
}

.seven-seg[number="7"] {
    background-image: url(../img/seven-seg/7.svg);
}

.seven-seg[number="8"] {
    background-image: url(../img/seven-seg/8.svg);
}

.seven-seg[number="9"] {
    background-image: url(../img/seven-seg/9.svg);
}

/* ================================================== */

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.pop-up-open {
    cursor: pointer;
    line-height: calc(var(--cell-size) * 2);
    height: calc(var(--cell-size) * 2);
    width: calc(var(--cell-size) * 2);
    border: var(--main-color) solid var(--border-width);
    margin: var(--border-width);
}

.pop-up-checkbox {
    display: none;
}

.pop-up-overlay {
    display: none;
}

.pop-up-checkbox:checked+.pop-up-overlay {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000080;
}

.pop-up-window {
    width: 40vh;
    height: 40vh;
    background-color: #ffffff;
    border: var(--main-color) solid var(--border-width);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pop-up-close::before {
    cursor: pointer;
    position: absolute;
    top: 1vh;
    right: 1vh;
    line-height: 4vh;
    height: 4vh;
    width: 4vh;
    border: var(--main-color) solid var(--border-width);
    font-size: 3vh;
    content: '×';
    color: var(--main-color);
}

/* ================================================== */

#main-container {
    width: fit-content;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#game {
    padding: var(--cell-size);
    background-color: var(--cell-color);
    border: var(--border-width) solid;
    border-color: var(--cell-highlight) var(--cell-shadow) var(--cell-shadow) var(--cell-highlight);
}

#game-menu {
    display: flex;
    justify-content: space-between;
    height: calc(var(--cell-size) * 2);
    margin: calc(var(--cell-size) * 0.25) 0;
}

#game-reset {
    height: calc(var(--cell-size) * 2);
    width: calc(var(--cell-size) * 2);
    background-color: var(--cell-color);
    background-image: url(../img/reset/back.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

#game-reset:active {
    background-image: url(../img/reset/back-push.svg);
}

#game-reset-face {
    height: 100%;
    width: 100%;
    background-size: cover;
}

#game-reset-face[type="normal"] {
    background-image: url(../img/reset/normal.svg);
}

#game-reset-face[type="win"] {
    background-image: url(../img/reset/win.svg);
}

#game-reset-face[type="lose"] {
    background-image: url(../img/reset/lose.svg);
}

#game-counter,
#game-timer {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-board {
    background-color: var(--cell-shadow);
    border: var(--border-width) solid white;
    border-color: var(--cell-shadow) var(--cell-highlight) var(--cell-highlight) var(--cell-shadow);
}

/* ================================================== */

.game-cell {
    background-image: url(../img/cell/close.svg);
    background-size: cover;
    height: var(--cell-size);
    width: var(--cell-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.game-cell:active {
    background-image: url(../img/cell/push.svg);
}

.game-cell[opened] {
    background-image: url(../img/cell/open.svg);
}

.game-cell[mine] {
    background-image: url(../img/cell/mine.svg), url(../img/cell/close.svg);
}

.game-cell[mine][opened] {
    background-image: url(../img/cell/mine.svg), url(../img/cell/openedmine.svg);
}

.game-cell[flag] {
    background-image: url(../img/cell/flag.svg), url(../img/cell/close.svg);
}

.game-cell[number="1"] {
    background-image: url(../img/cell/1.svg), url(../img/cell/open.svg);
}

.game-cell[number="2"] {
    background-image: url(../img/cell/2.svg), url(../img/cell/open.svg);
}

.game-cell[number="3"] {
    background-image: url(../img/cell/3.svg), url(../img/cell/open.svg);
}

.game-cell[number="4"] {
    background-image: url(../img/cell/4.svg), url(../img/cell/open.svg);
}

.game-cell[number="5"] {
    background-image: url(../img/cell/5.svg), url(../img/cell/open.svg);
}

.game-cell[number="6"] {
    background-image: url(../img/cell/6.svg), url(../img/cell/open.svg);
}

.game-cell[number="7"] {
    background-image: url(../img/cell/7.svg), url(../img/cell/open.svg);
}

.game-cell[number="8"] {
    background-image: url(../img/cell/8.svg), url(../img/cell/open.svg);
}

/* ================================================== */

#setting-open {
    background-size: cover;
    background-image: url(../img/setting.svg);
}

#about-open {
    background-size: cover;
    background-image: url(../img/about.svg);
}

#setting,
#about {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#setting select {
    border: black solid var(--border-width);
    padding: var(--border-width);
    width: 16vh;
    height: 4vh;
    box-sizing: border-box;
    font-size: 1rem;
}

#setting input[type=number] {
    border: black solid var(--border-width);
    padding: var(--border-width);
    width: 15vh;
    height: 3vh;
    font-size: 1rem;
}

#setting input[type=number]:disabled {
    background-color: #aaaaaa;
}