:root {
    font-family: monospace, selif;
    --main-color: black
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-open {
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    width: 30px;
    border: var(--main-color) solid 1px;
    font-size: 20px;
    margin: 2px;
}

.pop-up-checkbox {
    display: none;
}

.pop-up-overlay {
    display: none;
}

.pop-up-checkbox:checked+.pop-up-overlay {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000080;
}

.pop-up-window {
    width: 90vw;
    max-width: 380px;
    min-width: 240px;
    height: 320px;
    background-color: #ffffff;
    border: var(--main-color) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pop-up-close::before {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    border: var(--main-color) solid 1px;
    font-size: 20px;
    content: '×';
    color: var(--main-color);
}

/* ================================================== */

#header {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: xx-large;
    font-weight: bolder;
}

#main-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#game {}

#game-menu {
    display: flex;
    justify-content: space-between;
}

#game-reset {
    height: 40px;
    width: 40px;
    background-color: #dddddd;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

#game-timer,
#game-mines {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-board {
    border-collapse: collapse;
    border-spacing: 0;
}

.game-row {
    white-space: nowrap;
}

.game-cell {
    background-color: #dddddd;
    height: 24px;
    width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    border: white solid 1px;
}

.game-cell[opened] {
    background-color: #eeeeee;
}

.game-cell[mine] {
    background-color: #ff8888;
}

#setting,
#about {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#setting th:not([colspan]),
#setting td:not([colspan]) {
    height: 24px;
    width: 24px;
}

#setting select {
    border: black solid 1px;
    padding: 3px;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
}

#setting input[type=number] {
    border: black solid 1px;
    padding: 3px;
    width: 90px;
    height: 20px;
}