:root {
    font-family: monospace, selif;
    --main-color: black;
    font-size: 2vh;
}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.pop-up-open {
    cursor: pointer;
    line-height: 4vh;
    height: 4vh;
    width: 4vh;
    border: var(--main-color) solid 1px;
    font-size: 3vh;
    margin: 2px;
}

.pop-up-checkbox {
    display: none;
}

.pop-up-overlay {
    display: none;
}

.pop-up-checkbox:checked+.pop-up-overlay {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000080;
}

.pop-up-window {
    width: 40vh;
    height: 40vh;
    background-color: #ffffff;
    border: var(--main-color) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pop-up-close::before {
    cursor: pointer;
    position: absolute;
    top: 1vh;
    right: 1vh;
    line-height: 4vh;
    height: 4vh;
    width: 4vh;
    border: var(--main-color) solid 1px;
    font-size: 3vh;
    content: '×';
    color: var(--main-color);
}

/* ================================================== */

#main-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#game {}

#game-menu {
    display: flex;
    justify-content: space-between;
    height: 4vh;
}

#game-reset {
    position: absolute;
    left: calc(50% - 2vh);
    height: 4vh;
    width: 4vh;
    background-color: #dddddd;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

#game-counter,
#game-timer {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-board {
    border-collapse: collapse;
    border-spacing: 0;
}

.game-row {
    white-space: nowrap;
}

.game-cell {
    background-color: #dddddd;
    height: 2.5vh;
    width: 2.5vh;
    font-size: 1.5vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    border: white solid 1px;
}

.game-cell[opened] {
    background-color: #eeeeee;
}

.game-cell[mine] {
    background-color: #ff8888;
}

#setting,
#about {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#setting select {
    border: black solid 1px;
    padding: 3px;
    width: 16vh;
    height: 4vh;
    box-sizing: border-box;
    font-size: 1rem;
}

#setting input[type=number] {
    border: black solid 1px;
    padding: 3px;
    width: 15vh;
    height: 3vh;
    font-size: 1rem;
}

#setting input[type=number]:disabled {
    background-color: #aaaaaa;
}